
/*Стили для слайдера*/
  .maincenterowl  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    margin-bottom: 20px;
}
 .maincenterowl  .owl-carousel .item {
    transform: scale(.7) translateY(0px);
    opacity: 1;
    filter: blur(3px);
    transition: transform 0.3s ease, opacity 0.3s ease;
} 

.maincenterowl .owl-carousel .center .item {
    transform: scale(1) translateY(0px);
    opacity: 1;
    filter: blur(0px);
}
    
prev , .next {
    cursor:pointer;
    padding: 10px;
}
img.sliderarrowowl {
    width: 40px;
    margin-top: 15px;
    border-radius: 17px;
    transition: all 0.2s ease-in-out;
}
img.sliderarrowowl:hover {
    transform: scale(1.2);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #c399ff;
}
.owl-theme .owl-dots .owl-dot span {
    background: #e8f7ff;
}
img.sliderarrowowl:active {
    transform: scale(0.9);
}
.owl-prev , .owl-next{
    display: none !important;
}