@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  color: #fff;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.span-markup {
  text-decoration: none;
  outline: none;
  color: #FFED02;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.span-losung {
  color: #ff4800;
  font-weight: 700;
}

.span-markup a {
  text-decoration: none;
  outline: none;
  color: #FFED02;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.root {
  position: fixed;
  z-index: 50;
  width: 100vw;
}

.navbar {
  background-color: rgb(42, 51, 59);
  padding: 0;
  height: 68px;
  box-sizing: content-box;
  border-bottom: 2px solid #FFED02;
}
.navbar-nav {
  margin-left: auto;
}
.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
}
.navbar .container-fluid .navbar-brand {
  margin-left: 10px;
  padding: 0px;
}
.navbar .container-fluid .navbar-brand:focus {
  outline: none;
}
.navbar .container-fluid .navbar-brand-img {
  max-height: 60px;
  margin-bottom: 0px;
}
.navbar .container-fluid .navbar-nav {
  padding-top: 30px;
  align-items: center;
  background-color: rgb(42, 51, 59);
  max-width: 100vw;
  width: 100%;
}
.navbar .container-fluid .navbar-nav .nav-item #en {
  opacity: 0.8;
  padding-bottom: 30px;
  padding-top: 30px;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.navbar-close {
  background-image: url("../img/close.svg") !important;
  background-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgb(42, 51, 59) !important;
  margin-right: 5px;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282550, 255, 255, 0.90%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M0 7h42M0 15h42M0 23h42'/%3e%3c/svg%3e");
}

.general {
  padding-top: 50px;
}
.general__inside {
  position: relative;
  height: 100vh;
  max-height: 680px;
  display: flex;
  flex-direction: column;
}
.general__inside-video {
  z-index: -1;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}
.general__inside-heading {
  padding-top: 225px;
  color: #ffffff;
  font-size: 26px;
  line-height: 2;
  font-weight: 300;
  opacity: 0.65;
  margin-left: 10px;
}
.general__inside-img {
  margin: 0 auto;
  margin-top: 20px;
}
.general__inside-img .img-general {
  max-width: 90vw;
}
.general__inside-text {
  margin-top: 100px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 21px;
  line-height: 38px;
  font-weight: 300;
  opacity: 0.85;
}
.general__inside-mouse {
  position: relative;
  width: 65px;
  height: 65px;
  background-image: url("../img/mouse.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 30px;
  opacity: 1;
  margin-top: auto;
}
.general__inside-mouse-scroll {
  position: absolute;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce-1;
          animation-name: bounce-1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.general__inside-moot {
  width: 40px;
  height: 40px;
  background-image: url("../img/nosound.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  bottom: 30px;
  opacity: 0.65;
}
.general__inside-moot1 {
  background-image: url("../img/sound.svg");
}

.mouse-page {
  margin-top: auto;
}

@-webkit-keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.about {
  padding-top: 70px !important;
  padding-bottom: 30px;
}
.about__items {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}
.about__items .link-about {
  width: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.about__items .about-text {
  font-size: 32px;
}
.about__items-company {
  background-image: url("../img/banner_about.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 95%;
  max-width: 1160px;
  height: 320px;
  margin: 0 auto;
  font-size: 38px;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 20px;
  line-height: 1.3;
  position: relative;
}
.about__items-company:hover .about__items-company-2 {
  opacity: 1;
}
.about__items-company-2 {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  top: 0px;
  left: 0px;
  background-color: #FFED02;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.about__items-wrap {
  width: 100%;
}
.about__items-wrap-power-1 {
  background-image: url("../img/banner_advantages.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 320px;
  margin: 30px auto;
  font-size: 38px;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  color: #fff;
}
.about__items-wrap-power-1:hover .about__items-wrap-power-1-2 {
  opacity: 1;
}
.about__items-wrap-power-1-2 {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  top: 0px;
  left: 0px;
  background-color: #FFED02;
  color: #66baf2;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px #ffffff;
  font-size: 18px;
}
.about__items-wrap-service-1 {
  background-image: url("../img/banner_service.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 320px;
  margin: 30px auto;
  font-size: 38px;
  font-weight: 200;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
}
.about__items-wrap-service-1:hover .about__items-wrap-service-1-2 {
  opacity: 1;
}
.about__items-wrap-service-1-2 {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  top: 0px;
  left: 0px;
  background-color: #FFED02;
  color: #66baf2;
  width: 100%;
  height: 100%;
  border: 3px solid #dbf0ff;
  font-size: 18px;
}

.description-text {
  height: 100%;
  margin-top: 2vw;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 15px;
  font-weight: 300;
}

.slider {
  background-color: #171717;
  padding-top: 92px;
}
.slider-name {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  width: 95%;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.slider .swiper-wrapper .swiper-slide {
  text-align: center;
  position: relative;
  margin-top: auto;
  transition: max-height 0.5s;
}
.slider .swiper-wrapper .swiper-slide_video {
  max-width: 330px;
  max-height: 570px;
}
.slider .swiper-wrapper .swiper-slide_play {
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
  background-image: url("../img/video_play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}
.slider .swiper-wrapper .swiper-slide_sound {
  position: absolute;
  display: none;
  margin: auto;
  width: 50px;
  height: 50px;
  background-image: url("../img/volume_video.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}
.slider .swiper-pagination {
  top: 0;
  max-height: 70px;
}
.slider .swiper-pagination-bullet {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 0px;
  margin: 5px 2px !important;
  padding: 0;
}

.hide {
  display: none;
  color: #ecf0f1;
}

.partners {
  background-color: #fff;
  padding: 0 10px 0 10px;
  margin-top: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
}
.partners__image {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
}
.partners__image-text {
  padding-top: 45px;
  color: black;
  margin-bottom: 35px;
  background-color: #fff;
  font-weight: 300;
}
.partners__image-item {
  width: 100px;
}

.footer {
  width: 100%;
  margin-top: 105px;
  padding: 15px;
  display: flex;
  background-color: rgb(42, 51, 59);
}
.footer .wrapper-footer {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__text {
  width: 95%;
  margin-bottom: 0px;
}
.footer__text-heading {
  font-size: 40px;
  font-weight: 600;
  margin-top: 70px;
}
.footer__text-description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 70px;
}
.footer__text-phone {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.footer__text-mail {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.footer-form {
  margin-top: 70px;
  width: 95%;
  margin-bottom: 90px;
}

#submit {
  background-color: #FFED02;
  border: none;
  color: #171717;
}

#textarea-class {
  resize: none;
  width: 100%;
  min-height: 135px;
  margin-top: 10px;
  border: none;
}
#textarea-class::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
}
#textarea-class:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
}
#textarea-class::placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
}

.footer input {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 50px;
  font-weight: bold;
  border: none;
}
.footer input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.footer input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.footer input::placeholder {
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}

.about-comp {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-height: 730px;
  color: #000;
  background-color: #FFED02;
  padding-top: 90px;
}
.about-comp__text {
  margin-bottom: auto;
}
.about-comp__text-heading {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 55px;
  padding: 0 15px;
}
.about-comp__text-description {
  line-height: 1.7em;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
.about-comp__image {
  position: absolute;
  bottom: 0;
  max-width: 425px;
}
.investing {
  font-family: "Mulish", sans-serif;
  background-color: #fff;
  color: #000;
  margin-top: 60px;
}
.investing__heading {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.5em;
  padding: 0 15px;
}
.investing__list {
  margin-top: 30px;
}
.investing__list-item {
  font-family: "Mulish", sans-serif;
  position: relative;
  line-height: 1.7;
  padding: 15px;
  font-size: 20px;
  padding-left: 50px;
  font-weight: 400;
}
.investing__list-item::before {
  position: absolute;
  content: "";
  left: -10px;
  top: 12px;
  width: 40px;
  height: 40px;
  background-image: url("../img/ok.svg");
  background-size: cover;
}

.losung {
  background-color: #EFEFEF;
}
.losung__heading {
  margin-top: 60px;
  padding: 90px 15px;
  font-family: "Mulish", sans-serif;
  color: #000;
  text-align: center;
  max-width: 940px;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 1.8;
}

.about-video {
  padding: 90px 15px;
}
.about-video__wrapper {
  position: relative;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.about-video__wrapper-item {
  width: 90vw;
  max-width: 600px;
}
.about-video__wrapper-play {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/video_play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}

.mission {
  margin-top: 60px;
  color: #000;
  font-family: "Mulish", sans-serif;
}
.mission__heading {
  font-weight: 300;
  font-size: 32px;
  line-height: 55px;
  padding: 0 15px;
}
.mission__points {
  line-height: 1.7em;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.video-comp {
  viewport-fit: cover;
  margin-bottom: 90px;
  position: relative;
  height: 100vh;
  max-height: 730px;
  color: #000;
  background-color: #FFED02;
  padding-top: 75px;
}
.video-comp__text {
  position: relative;
  z-index: 10;
  margin-bottom: auto;
}
.video-comp__text-heading {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 55px;
  padding: 0 15px;
}
.video-comp__text-description {
  line-height: 1.7em;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
.video-comp__image {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 425px;
}
.top-video {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 90px;
}
.top-video__heading {
  color: #000;
  text-align: start;
  font-size: 32px;
  font-weight: 300;
}
.top-video__wrapper {
  margin-top: 90px !important;
  position: relative;
  width: 90vw;
  max-width: 960px;
  margin: 0 auto;
}
.top-video__wrapper-item {
  width: 90vw;
  max-width: 960px;
}
.top-video__wrapper-play {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/video_play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}
.top-video__link {
  color: #ec5401;
}

.reviews {
  padding-top: 90px;
  background-color: #EFEFEF;
}

.easy__heading {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5em;
}
.easy__wrapper {
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.easy__wrapper-card {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 405px;
}

.sertificate__heading {
  margin-top: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.5em;
}
.sertificate__wrap {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 450px;
}

@media screen and (min-width: 700px) {
  .general__inside {
    min-height: 100vh;
  }
  .general__inside-heading {
    margin-left: 25px;
  }
  .general__inside-img {
    margin: 20px 0 0 25px;
  }
  .general__inside-text {
    margin-left: 25px;
    color: #ffffff;
    font-size: 41px;
    line-height: 55px;
    font-weight: 200;
    opacity: 0.85;
  }
  .general__inside-mouse {
    width: 70px;
    height: 70px;
  }
  .general__inside-moot {
    width: 40px;
    height: 40px;
  }
  .general__inside-moot1 {
    background-image: url("../img/sound.svg");
  }
  .about-text {
    font-size: 46px;
    padding-top: 30px;
    padding-left: 20px;
  }
  .hide {
    display: block;
  }
}
@media screen and (min-width: 990px) {
  .navbar {
    height: 80px;
  }
  .navbar-brand-img {
    max-height: 80px !important;
    margin-bottom: 0px !important;
    margin-left: 30px;
  }
  .navbar-nav {
    width: 640px !important;
  }
  .navbar-nav .nav-link {
    font-size: 16px !important;
    margin-right: 10px;
  }
  #en {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .navbar-nav {
    padding-top: 0px !important;
  }
  .general__inside-heading {
    padding-top: 270px;
  }
  .general__inside-text {
    margin-top: 30px;
  }
  .img-general {
    max-width: 480px !important;
  }
}
@media screen and (min-width: 1230px) {
  .wrapper-footer {
    justify-content: space-between !important;
  }
  .footer__text {
    max-width: 560px;
  }
  .footer-form {
    max-width: 560px;
  }
  .about__items-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
  }
  .about__items-wrap-power {
    width: 560px;
  }
  .about__items-wrap-power-1 {
    width: 100%;
  }
  .about__items-wrap-service {
    width: 560px;
  }
  .about__items-wrap-service-1 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */